<div class="correct-screen">
  <h1>Correct</h1>
  <% if @complete_pie %>
    <a href="/complete-pie">Pick another category</a>
  <% else %>
    <a href="/game">Pick another category</a>
  <% end %>
</div>
