<h1>Pick a category</h1>
<div id="slice-bar">
  <div class="category-button">
    <a href="/film"><img class="icon" src="/images/entertainment-film.svg" alt="entertainment-film"></a>
  </div>
  <div class="category-button">
    <a href="/science"><img class="icon" src="/images/science-nature.svg" alt="science-nature"></a>
  </div>
  <div class="category-button">
    <a href="/history"><img class="icon" src="/images/history.svg" alt="history"></a>
  </div>
  <div class="category-button">
    <a href="/sports"><img class="icon" src="/images/sports.svg" alt="sports"></a>
  </div>
  <div class="category-button">
    <a href="/geography"><img class="icon" src="/images/geography.svg" alt="geography"></a>
  </div>
</div>
